.holder {
  display: flex;
  flex-direction: column;
  align-items: center;

  .get-it-on-github {
    margin-top: 24px;
    margin-bottom: 24px;
    color: #55606e;
  }
}

.audio.green-audio-player {
  width: 100%;
  height: 56px;
  background: #fff9eb;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  user-select: none;
  -webkit-user-select: none;
  .play-pause-btn {
    display: none;
    cursor: pointer;
    svg {
      path {
        fill: $color-primary;
      }
    }
  }
  //   .spinner {
  //     width: 18px;
  //     height: 18px;
  //     background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/355309/loading.png);
  //     background-size: cover;
  //     background-repeat: no-repeat;
  //     animation: spin 0.4s linear infinite;
  //   }
  .slider {
    flex-grow: 1;
    background-color: $color-primary;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    .progress {
      background-color: $color-primary;
      border-radius: inherit;
      position: absolute;
      pointer-events: none;
      border-radius: 10px;
      .pin {
        height: 16px;
        width: 16px;
        border-radius: 8px;
        background-color: $color-primary;
        position: absolute;
        pointer-events: all;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.32);
      }
    }
  }
  .controls {
    font-size: 16px;
    line-height: 18px;
    color: #55606e;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
    .slider {
      margin-left: 16px;
      margin-right: 16px;
      border-radius: 10px;
      height: 10px;
      background-color: #fff;
      .progress {
        width: 0;
        height: 100%;
        .pin {
          right: -8px;
          top: -6px;
        }
      }
    }
    span {
      cursor: default;
    }
  }
  .volume {
    position: relative;
    .volume-btn {
      cursor: pointer;
      svg {
        path {
          fill: $color-primary;
        }
      }
      &.open path {
        fill: #44bfa3;
      }
    }
    .volume-controls {
      width: 30px;
      height: 135px;
      background-color: rgba(0, 0, 0, 0.62);
      border-radius: 7px;
      position: absolute;
      left: -3px;
      bottom: 52px;
      flex-direction: column;
      align-items: center;
      display: flex;
      &.hidden {
        display: none;
      }
      .slider {
        margin-top: 12px;
        margin-bottom: 12px;
        width: 6px;
        border-radius: 3px;
        .progress {
          bottom: 0;
          height: 100%;
          width: 6px;
          .pin {
            left: -5px;
            top: -8px;
          }
        }
      }
    }
  }
}
