.metismenu {
  margin: 0; }
  .metismenu li {
    display: block;
    width: 100%; }
  .metismenu .mm-collapse {
    display: none; }
    .metismenu .mm-collapse:not(.mm-show) {
      display: none; }
  .metismenu .mm-collapse.mm-show {
    display: block; }
  .metismenu .mm-collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility; }

.vertical-menu {
  width: 250px;
  z-index: 1001;
  background: #fff;
  bottom: 0;
  margin-top: 0;
  position: fixed;
  top: 70px;
  border-right: 1px solid transparent;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }

.main-content {
  margin-left: 250px;
  overflow: hidden; }
  .main-content .content {
    padding: 0 15px 10px 15px;
    margin-top: 70px; }

#sidebar-menu {
  padding: 10px 0 30px 0; }
  #sidebar-menu .mm-active > .has-arrow:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }
  #sidebar-menu .has-arrow:after {
    content: "\F0142";
    font-family: "Material Design Icons";
    display: block;
    float: right;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    font-size: 1.1rem;
    margin-right: -5px;
    margin-top: -2px; }
  #sidebar-menu ul li a {
    display: block;
    padding: 0.675rem 1.5rem;
    color: #545a6d;
    position: relative;
    font-size: 0.845rem;
    -webkit-transition: all 0.4s;
    transition: all 0.4s; }
    #sidebar-menu ul li a i {
      display: inline-block;
      min-width: 1.75rem;
      padding-bottom: 0.125em;
      font-size: 1.25rem;
      line-height: 1.40625rem;
      vertical-align: middle;
      color: #545a6d;
      -webkit-transition: all 0.4s;
      transition: all 0.4s; }
    #sidebar-menu ul li a svg {
      height: 18px;
      width: 18px;
      color: #545a6d;
      margin-right: 10px;
      margin-top: -3px; }
    #sidebar-menu ul li a:hover {
      color: #1c84ee; }
      #sidebar-menu ul li a:hover i {
        color: #1c84ee; }
      #sidebar-menu ul li a:hover svg {
        color: #1c84ee; }
  #sidebar-menu ul li .badge {
    margin-top: 4px; }
  #sidebar-menu ul li ul.sub-menu {
    padding: 0; }
    #sidebar-menu ul li ul.sub-menu li a {
      padding: 0.425rem 1.5rem 0.425rem 3.5rem;
      font-size: 0.825rem;
      color: #545a6d; }
      #sidebar-menu ul li ul.sub-menu li a:hover {
        color: #1c84ee; }
    #sidebar-menu ul li ul.sub-menu li ul.sub-menu {
      padding: 0; }
      #sidebar-menu ul li ul.sub-menu li ul.sub-menu li a {
        padding: 0.4rem 1.5rem 0.4rem 4.5rem;
        font-size: 13px; }

.menu-title {
  padding: 12px 20px !important;
  pointer-events: none;
  cursor: default;
  font-size: 12px;
  color: #545a6d;
  font-weight: 500; }

.mm-active > a {
  color: #1c84ee !important; }
  .mm-active > a i {
    color: #1c84ee !important; }
  .mm-active > a svg {
    color: #1c84ee !important; }
.mm-active .active {
  color: #1c84ee !important; }
  .mm-active .active i {
    color: #1c84ee !important; }
  .mm-active .active svg {
    color: #1c84ee !important; }
.mm-active > i {
  color: #1c84ee !important; }

.sidebar-alert {
  background-color: rgba(28, 132, 238, 0.1) !important; }
  .sidebar-alert .alertcard-title {
    color: #1c84ee; }

body[data-sidebar-size="sm"] {
  min-height: 1000px; }
  body[data-sidebar-size="sm"] .main-content {
    margin-left: 70px; }
  body[data-sidebar-size="sm"] .navbar-brand-box {
    width: 70px !important; }
  body[data-sidebar-size="sm"] .logo span.logo-lg {
    display: none; }
  body[data-sidebar-size="sm"] .logo span.logo-sm {
    display: block; }
  body[data-sidebar-size="sm"] .vertical-menu {
    position: absolute;
    width: 70px !important;
    z-index: 5; }
    body[data-sidebar-size="sm"] .vertical-menu .simplebar-content-wrapper {
      overflow: visible !important; }
    body[data-sidebar-size="sm"] .vertical-menu .simplebar-mask {
      overflow: visible !important; }
    body[data-sidebar-size="sm"] .vertical-menu .simplebar-scrollbar {
      display: none !important; }
    body[data-sidebar-size="sm"] .vertical-menu .simplebar-offset {
      bottom: 0 !important; }
    body[data-sidebar-size="sm"] .vertical-menu #sidebar-menu .badge {
      display: none !important; }
    body[data-sidebar-size="sm"] .vertical-menu #sidebar-menu .menu-title {
      display: none !important; }
    body[data-sidebar-size="sm"] .vertical-menu #sidebar-menu .sidebar-alert {
      display: none !important; }
    body[data-sidebar-size="sm"] .vertical-menu #sidebar-menu .nav.collapse {
      height: inherit !important; }
    body[data-sidebar-size="sm"] .vertical-menu #sidebar-menu > ul > li {
      position: relative;
      white-space: nowrap; }
      body[data-sidebar-size="sm"] .vertical-menu #sidebar-menu > ul > li > a {
        padding: 15px 20px;
        -webkit-transition: none;
        transition: none; }
        body[data-sidebar-size="sm"] .vertical-menu #sidebar-menu > ul > li > a:active {
          color: #1c84ee; }
        body[data-sidebar-size="sm"] .vertical-menu #sidebar-menu > ul > li > a:focus {
          color: #1c84ee; }
        body[data-sidebar-size="sm"] .vertical-menu #sidebar-menu > ul > li > a:hover {
          color: #1c84ee; }
        body[data-sidebar-size="sm"] .vertical-menu #sidebar-menu > ul > li > a i {
          font-size: 1.45rem;
          margin-left: 4px; }
        body[data-sidebar-size="sm"] .vertical-menu #sidebar-menu > ul > li > a svg {
          height: 18px;
          width: 18px;
          margin-left: 6px; }
        body[data-sidebar-size="sm"] .vertical-menu #sidebar-menu > ul > li > a span {
          display: none;
          padding-left: 25px; }
      body[data-sidebar-size="sm"] .vertical-menu #sidebar-menu > ul > li > a.has-arrow:after {
        display: none; }
      body[data-sidebar-size="sm"] .vertical-menu #sidebar-menu > ul > li:hover > a {
        position: relative;
        width: calc(190px + 70px);
        color: #1c84ee;
        background-color: #f5f5f5;
        -webkit-transition: none;
        transition: none; }
        body[data-sidebar-size="sm"] .vertical-menu #sidebar-menu > ul > li:hover > a i {
          color: #1c84ee; }
        body[data-sidebar-size="sm"] .vertical-menu #sidebar-menu > ul > li:hover > a svg {
          color: #1c84ee; }
        body[data-sidebar-size="sm"] .vertical-menu #sidebar-menu > ul > li:hover > a span {
          display: inline; }
      body[data-sidebar-size="sm"] .vertical-menu #sidebar-menu > ul > li:hover > ul {
        display: block;
        left: 70px;
        position: absolute;
        width: 190px;
        height: auto !important;
        -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }
        body[data-sidebar-size="sm"] .vertical-menu #sidebar-menu > ul > li:hover > ul ul {
          -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }
        body[data-sidebar-size="sm"] .vertical-menu #sidebar-menu > ul > li:hover > ul a {
          -webkit-box-shadow: none;
          box-shadow: none;
          padding: 8px 20px;
          position: relative;
          width: 190px;
          z-index: 6;
          color: #545a6d; }
          body[data-sidebar-size="sm"] .vertical-menu #sidebar-menu > ul > li:hover > ul a:hover {
            color: #1c84ee; }
    body[data-sidebar-size="sm"] .vertical-menu #sidebar-menu > ul ul {
      padding: 5px 0;
      z-index: 9999;
      display: none;
      background-color: #fff; }
      body[data-sidebar-size="sm"] .vertical-menu #sidebar-menu > ul ul li:hover > ul {
        display: block;
        left: 190px;
        height: auto !important;
        margin-top: -36px;
        position: absolute;
        width: 190px;
        padding: 5px 0; }
      body[data-sidebar-size="sm"] .vertical-menu #sidebar-menu > ul ul li > a span.pull-right {
        position: absolute;
        right: 20px;
        top: 12px;
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg); }
      body[data-sidebar-size="sm"] .vertical-menu #sidebar-menu > ul ul li.active a {
        color: #f8f9fa; }
  body[data-sidebar-size="sm"] #sidebar-menu .mm-active > .has-arrow:after {
    -webkit-transform: rotate(0);
    transform: rotate(0); }

body[data-sidebar="dark"] .navbar-brand-box {
  background: #242a30;
  -webkit-box-shadow: 0 3px 1px #242a30;
  box-shadow: 0 3px 1px #242a30;
  border-color: #242a30; }
  body[data-sidebar="dark"] .navbar-brand-box .logo {
    color: #fff !important; }
body[data-sidebar="dark"] .logo-dark {
  display: none; }
body[data-sidebar="dark"] .logo-light {
  display: block; }
body[data-sidebar="dark"] .vertical-menu {
  background: #242a30;
  border-color: #242a30; }

@media (max-width: 992px) {
  .vertical-menu {
    display: none; }

  .main-content {
    margin-left: 0 !important; }

  body.sidebar-enable .vertical-menu {
    display: block; } }
@media (min-width: 992px) {
  body[data-sidebar="dark"] #vertical-menu-btn {
    color: #e9ecef; } }

/*# sourceMappingURL=sidebar.css.map */
